<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">

    <resultMap id="BaseResultMap" type="bean.User">
        <result column="user_id" jdbcType="VARCHAR" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="username" />
        <result column="user_password" jdbcType="VARCHAR" property="password" />
        <result column="user_realName" jdbcType="VARCHAR" property="realname" />
    </resultMap>

    <select id="getUsers" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from td_sm_user
        where user_id = #{user_id,jdbcType=VARCHAR}
    </select>

</mapper>